In [3]:
# 1>a)
n=6
for i in range (n):
    print("*"*i)

*
**
***
****
*****

In [6]:
# 1>b)
n=6
for i in range (n):
    for j in range(i):
        print(i,end=" ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [62]:
# 1>c)
n=6
i=1
for (i) in range(1,n):
    for j in range(1,i+1):
        print(j,end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [18]:
# 1>d)
n=6
for (i) in range(1,n):
    for j in range(1,i+1):
        print(i+j,end=" ")
    print("")

2
3 4
4 5 6
5 6 7 8
6 7 8 9 10

In [19]:
# 1>e)
n=6
for (i) in range(1,n):
    for j in range(1,i+1):
        p=i+j
        if p%2==0:
            print("1",end=" ")
        else:
            print("0",end=" ")
        
    print("")

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [20]:
# 1>f)
n=6
a=1
for (i) in range(1,n):
    for j in range(1,i+1):
        print(a,end=" ")
        a+=1
    print("")

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [26]:
# 1>g)
n=5
for (i) in range(n,0,-1):
    for j in range(n,i-1,-1):
        print(j,end=" ")
        
    print("")

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [29]:
# 1>h)
n=5
for (i) in range(n,0,-1):
    for j in range(n,i-1,-1):
        print(i,end=" ")
        
    print("")

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [49]:
# 1>i)
n=6
for (i) in range(n,0,-1):
    for j in range(1,i+1,n):
        print("*"*i,end=" ")
        
    print("")

******
*****
****
***
**
*

In [58]:
# 1>j)
n=5
for (i) in range(n,0,-1):
    for j in range(1,i+1,1):
        print(6-i,end=" ")
        
    print("")

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [59]:
# 1>l)
n=5
for (i) in range(n,0,-1):
    for j in range(1,i+1,1):
        print(i,end=" ")
        
    print("")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [64]:
# 1>k)
n=5
for (i) in range(n,0,-1):
    for j in range(1,i+1,1):
        print(j,end=" ")
        
    print("")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [66]:
# 1>m)
n=5
for (i) in range(n,0,-1):
    for j in range(1,i+1,1):
        print(6-j,end=" ")
        
    print("")

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [67]:
# 3>v)
n = 5
num = 1
gap = n - 1
for j in range(1, n + 1) :
    num = j
    for i in range(1, gap + 1) :
        print(" ", end="")
    gap = gap - 1
         
    for i in range(1, j + 1) :
        print(num, end="")
        num = num + 1
     
    num = num - 2
    for i in range(1, j) :
        print(num, end="")
        num = num - 1
     
    print()

    1
   232
  34543
 4567654
567898765

In [6]:
# 3>w)
i=0
while i< 5:
    print('  '*(4-i),end=" ")
    j=0
    while j-1 < i*2:
        if j+1 > i+1:
            print(5-(i*2-j),end=" ")
        else:
            print(5-j,end=" ")
        j+=1
    print(" ")
    i+=1

         5
       5 4 5
     5 4 3 4 5
   5 4 3 2 3 4 5
 5 4 3 2 1 2 3 4 5

In [10]:
# 3>x)
n=6
for (i) in range(n,0,-1):
    for j in range(1,i+1,n):
        print(str(" *"*i).center(20),end=" ")
        
    print("")

     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [3]:
# 3>y)
n=5
for (i) in range(n,0,-1):
    for j in range(1,i+1,n):
        m=i
        print(str(f"{i} "*m).center(20),end=" ")
        
    print("")

     5 5 5 5 5
      4 4 4 4
       3 3 3
        2 2
         1

In [14]:
# 3>z)
n=5
m=1
for (i) in range(n,0,-1):
    for j in range(1,i+1,n):
        m=m+1
        print(str(f" {m}"*i).center(20),end=" ")
        
    print("")

      2 2 2 2 2
       3 3 3 3
        4 4 4
         5 5
          6

In [16]:
# 2>n)
b = " *"
for i in range(1,6):
    print((b*i).center(20))

          *
         * *
        * * *
       * * * *
      * * * * *

In [23]:
# 2>o)
row  = 5
for i in range(1, row+1):
    for j in range(row-i):
        print("  ", end="")
    for k in range(1, i+1):
        print(str( k).center(5),end="")
    print()

          1
        1    2
      1    2    3
    1    2    3    4
  1    2    3    4    5

In [24]:
#2>p)
b = "*"
for i in range(1,6):
    print((b*i).rjust(5))

    *
   **
  ***
 ****
*****

In [25]:
# 2>t)
row  = 5
for i in range(1, row+1):
    for j in range(row-i):
        print(" ", end="")
    for k in range(1, 2*i):
        print(k, end="")
    print()

    1
   123
  12345
 1234567
123456789

In [26]:
# 2>q)
n = int(input("Enter number of rows: "))

for i in range(1,n+1):
    for j in range(1, i+1):
        print(j, end="")
    print()

Enter number of rows: 5
1
12
123
1234
12345

In [27]:
# 2>r)
n = 5
for i in range(1, n+1):
    for j in range(n - i):
        print(' ', end='')
    for k in range(2 * i -1):    
        print('*', end="")
    print()

    *
   ***
  *****
 *******
*********

In [28]:
# 2> s)
for i in range(1, 6):
    for j in range(5, i, -1):
        print(" ", end="")
    for k in range(1, 2*i):
        print(i, end='')
    print()

    1
   222
  33333
 4444444
555555555

In [31]:
#2>u)
n = 5
for i in range(1, n+1):
    for j in range(n - i):
        print(' ', end='')
    for k in range(2 * i -1):    
        print('*', end="")
    print()

    *
   ***
  *****
 *******
*********

In [32]:
# 4>a)
row = 5
for i in range(1, row+1):
    for j in range(1, row-i+1):
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print() 
    
for i in range(row-1,0, -1):
    for j in range(1,row-i+1):
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [37]:
# 4>b)
rows = 5


for i in range(1, rows + 1):
    for j in range(rows - i):
        print(" ", end="")
    
    for k in range(1, 2 * i):
        print(i, end="")
    
    print()


for i in range(rows - 1, 0, -1):
    for j in range(rows - i):
        print(" ", end="")
    
    for k in range(1, 2 * i):
        print(i, end="")
    
    print()

    1
   222
  33333
 4444444
555555555
 4444444
  33333
   222
    1

In [36]:
# 4>c)
n = 5


for i in range(n):
    for j in range(n - i - 1):
        print(' ', end='')
    for j in range(2 * i + 1):
        print(j+1, end='')
    print()


for i in range(n - 1):
    for j in range(i + 1):
        print(' ', end='')
    for j in range(2*(n - i - 1) - 1):
        print(j+1, end='')
    print()

    1
   123
  12345
 1234567
123456789
 1234567
  12345
   123
    1

In [34]:
# 4>g)
row = 7
col = 7
for i in range(1,row+1):
    for j in range(1,col+1):
        if i==1 or i==row or j==1 or j==col:
            print("*", end="")
        else:
            print(" ", end="")
    print()

*******
*     *
*     *
*     *
*     *
*     *
*******

In [35]:
# Q4>f)
row = 7
col = 7
for i in range(1,row+1):
    for j in range(1,col+1):
        print("*", end="")
    print()

*******
*******
*******
*******
*******
*******
*******